.section-title {
	font-size: 2.8rem;
	font-weight: 300;
	margin-bottom: 3rem;
	text-transform: uppercase;
	color: var(--primary-color);
	text-align: center;
}

.section-container {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.left,
.right {
	display: flex;
	flex: 1;
}
.left {
	flex: 0 0 40%;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.right {
	flex-direction: column;
	padding-left: 1rem;
	flex: 0 0 60%;
}

.about-title,
.about-text {
	color: var(--primary-color);
}

.about-title {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.about-text {
	font-size: 1rem;
	font-weight: 300;
	line-height: 2;
}

@media (min-width: 1200px) {
	.right {
		padding-left: 4rem;
	}
	.about-title {
		font-size: 1.8rem;
	}

	.about-text {
		font-size: 1.2rem;
	}
}

@media (min-width: 1024px) {
	.right {
		padding-left: 6rem;
	}
}

@media (max-width: 768px) {
	.section-title {
		margin-bottom: 2rem;
		font-size: 2.5rem;
	}
	.section-container {
		flex-direction: column;
	}
	.right {
		padding-left: 0;
	}
	.left {
		margin: 0 -20px !important;
		img {
			max-height: 350px;
			object-fit: cover;
		}
	}

	.about-title {
		margin-top: 2rem;
	}
}

@media (max-width: 576px) {
	.about-title, .about-text {
		text-align: center;
	}
}
