.labels {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-bottom: 1rem;
	label {
		color: var(--primary-color);
		font-size: 1.25rem;
	}
}

.form-group {
	margin-bottom: 1rem;
	width: 100%;

	label {
		color: var(--primary-color);
		font-size: 1.25rem;
	}
	input[type='text'],
	input[type='email'],
	input[type='password'],
	textarea {
		width: 100%;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		margin-top: 0.5rem;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		&:focus {
			border-color: #80bdff;
			outline: 0;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		}
	}
	textarea {
		min-height: 150px;
	}
}

@media (max-width: 576px) {
	.labels {
		display: block;
	}
}
