.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--background-color);
	color: var(--primary-color);
	height: 100%;

	// border-bottom: 1px solid var(--primary-color);

	&__logo_container {
		display: flex;
		align-items: center;
	}

	&__logo {
		position: relative;
		display: flex;
		font-size: 3rem;
		font-weight: 300;
		color: var(--primary-color);
		text-decoration: none;
		padding: 0.5rem 1rem;

		svg {
			display: flex;
			width: 2.6rem;
			height: 2.6rem;
			margin-right: 0.5rem;
			fill: var(--hover-color);
			align-self: center;
			transition: transform 0.5s ease-in-out;
		}

		&:hover svg {
			transform: rotateY(360deg);
		}
	}

	&__menu {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&-item {
			list-style: none;
		}

		&-link {
			text-decoration: none;
			color: var(--dark-text-color);
			font-size: 1.2rem;
			font-weight: 300;
			padding: 2rem 2.5rem;
			display: block;
			transition: color 0.3s ease-in-out, background-color 0.3s ease;

			&:hover {
				color: var(--text-color);
				background-color: var(--hover-color);
				opacity: 0.8;
			}
		}
	}

	&__menu-link.active {
		color: var(--text-color);
		background-color: var(--primary-color);
	}

	.hamburger-menu {
		display: none;
		cursor: pointer;
		padding: 1rem 1rem;
		outline: none;
		border-radius: 8px;
		background-color: transparent;
		border: none;
		z-index: 1000;

		&:focus,
		&:active {
			border: 2px solid var(--primary-color);
		}

		&__line {
			width: 2rem;
			height: 0.25rem;
			background-color: var(--primary-color);
			margin: 0.3rem;
		}
	}

	@media (max-width: 768px) {
		justify-content: space-between;

		&__menu {
			position: fixed;
			top: 0;
			left: 100%;
			height: 100vh;
			width: 100%;
			flex-direction: column;
			justify-content: center;
			background-color: rgba(0, 0, 0, 0.5);
			// background: url('/dist/img/navBackground.svg');
			backdrop-filter: blur(12px);
			transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;
			opacity: 0;
			pointer-events: none;
			padding-left: 10%;
			z-index: 0;
            border-left: 1px solid var(--primary-color);

			&--active {
				opacity: 1;
				left: 40%;
				pointer-events: auto;
			}

			&-item {
				width: 100%;
				height: auto;
			}

			&-link {
				width: auto;
				text-align: left;
			}
		}

		.hamburger-menu {
			display: block;
		}
	}
	@media (max-width: 500px) {
		&__logo {
			font-size: 2.5rem;
		}

		&__menu-link {
			font-size: 1rem;
			padding: 1.5rem 2rem;
		}

		.hamburger-menu {
			padding: 0.8rem 0.8rem;
		}

		.hamburger-menu__line {
			width: 1.5rem;
			height: 0.2rem;
			margin: 0.2rem;
		}

		&__menu {
			padding-left: 0;

			&--active {
				left: 0;
			}

			&-link {
				text-align: center;
				font-weight: 400;
				font-size: 1.2rem;
			}
		}

		&__menu-link.active {
			padding: 1.5rem 2rem;
		}
	}
}
