@use 'nav';
@use 'header';
@use 'about';
@use 'baner';
@use 'offer';
@use 'footer';
@use 'animations';

:root {
	--primary-color: #0b0d17;
	--text-color: #ffffff;
	--background-color: #fff;
	--hover-color: #414141;
	--button-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.dark-mode {
	--primary-color: #ffffff;
	--text-color: #0b0d17;
	--background-color: #0b0d17;
	--hover-color: #ffffff;
	--button-shadow: 0px 4px 8px 0 rgba(255, 255, 255, 0.2);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
}

::selection {
	background-color: var(--primary-color);
	color: var(--text-color);
}

section {
	padding-bottom: 5rem;
}

.wrapper {
	margin: 0 15%;
	max-width: 1400px;
	&__small {
		margin: 0 20%;
		max-width: 1400px;
	}
}

.padd-5 {
	padding-top: 5rem;
}

@media (max-width: 1024px) {
	.wrapper {
		margin: 0 3%;
		&__small {
			margin: 0 5%;
		}
	}
	section {
		padding-bottom: 3rem;
	}
}

@media (max-width: 768px) {
	.wrapper {
		margin: 0 20px;
		&__small {
			margin: 0 20px;
		}
	}
	.padd-5 {
		padding-top: 2rem;
	}
	section {
		padding-bottom: 1rem;
	}
}
