@use 'nav';
@use 'header';
@use 'about';
@use 'offer';
@use 'footer';
@use 'animations';

:root {
	--primary-color: #0b0d17;
	--text-color: #ffffff;
	--background-color: #fff;
	--hover-color: #414141;
}
.dark-mode {
	--primary-color: #ffffff;
	--text-color: #0b0d17;
	--background-color: #0b0d17;
	--hover-color: #ffffff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
}

::selection {
	background-color: var(--primary-color);
	color: var(--text-color);
}

.wrapper{
    margin: 0 15%;
    max-width: 1400px;
}

@media (max-width: 1024px) {
	.wrapper {
		margin: 0 3%;
	}
}

@media (max-width: 768px) {
	.wrapper {
		margin: 0 20px;
	}
}