.planet {
	position: relative;
	left: 20%;
	margin-top: 20%;
}

.right-destination {
	position: relative;
	padding: auto;
	margin-left: 15%;
	margin-bottom: 2rem;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: start;
	display: flex;
	flex-direction: column;
}

.planets-slider-menu {
	position: relative;
	margin-top: 10%;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0;
	.nav-list {
		padding: 0;
		width: 100%;
		margin-bottom: 3rem;
		.nav-item {
			margin-left: 0;
		}
	}
}

.subheadingsContainer {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.one,
.two {
	text-transform: uppercase;
	line-height: 36px;
}

@media (max-width: 992px) {
	.planet {
		left: 0;
		width: 350px;
	}
	.right-destination {
		margin-left: 20px;
	}
}

@media (max-width: 768px) {
	.topleft {
		position: absolute;
		left: 8%;
		top: -3%;
	}

	.right-destination {
		margin-left: 0;
		width: 100%;
		align-items: center;
		padding: 0 10%;
		.nav-list {
			justify-content: center !important;
		}
		.text {
			text-align: center;
		}
	}

	.planet {
		margin-top: 10%;
	}

	.subheadingsContainer {
		flex-direction: column;
	}
	.one,
	.two {
		text-align: center;
	}

	.wrapper--top{
		top: 25%;
	}
}

@media (max-width: 576px) {
	.planet {
		width: 200px;
	}

	.right-destination {
		.nav-list--start {
			.nav-item {
				height: 70%;

				.nav-link {
					font-size: 14px;
				}
			}
		}

		.subtitle--h2 {
			font-size: 56px !important;
		}
		.text {
			font-size: 15px;
			line-height: 25px;
		}

		.line--maxwidth {
			margin: 2rem 0;
		}

		.one,
		.two {
			margin-bottom: 2rem;
		}
	}
	.topleft {
		position: relative;
		text-align: center;
		left: 0;
		margin: auto;
	}
	.wrapper--top{
		top: 20%;
	}
}
