.shadow {
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	min-height: 900px;
	object-position: center;
}

.background-img {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	min-height: 900px;
	user-select: none;

	img {
		width: 100%;
		height: 100%;
		min-height: 900px;
		object-fit: fill;
		background-position: center;
	}
}
.wrapper {
	position: absolute;
	top: 45%;
	width: 100%;
	height: fit-content;
	margin: 0 auto;
	padding: 0 10%;
	margin-bottom: 5rem;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 460px;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
}

.circle {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: var(--text-color);
	border-radius: 50%;
	cursor: pointer;

	h4 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 32px;
		color: var(--primary-color);
	}
}

.circle::before {
	content: '';
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid var(--primary-color);
	border-radius: 50%;
	z-index: -1;
	background-color: var(--primary-color);
	display: block;
	overflow: hidden;
	opacity: 0;
	transition: all 0.7s ease-in-out;
}

.circle:hover:before {
	transform: scale(1.5);
	opacity: 1;
}

@media (max-width: 992px) {
	.wrapper {
		padding: 0 5%;
	}

	.circle {
		width: 200px;
		height: 200px;
	}
}

@media (max-width: 768px) {
	.background-img {
		// transform-origin: top left;
		// transform: rotate(90deg) translateY(-100%);
		width: 100%;
		height: 100%;
		img {
			rotate: 90deg;
			width: 100%;
			height: 100%;
			min-width: 900px;
		}
	}

	.wrapper {
		top: 35%;
	}
	.container {
		flex-direction: column;
		align-items: center;

		.left {
			justify-content: center;
			align-items: center;
			text-align: center;
			.subtitle--h5 {
				font-size: 20px;
				letter-spacing: 3.38px;
			}
			.text {
				font-size: 16px;
				line-height: 28px;
			}
		}
		.right {
			align-items: center;
			margin-top: 100px;
		}
	}

	.circle::before {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		border: 1px solid var(--text-color);
		border-radius: 50%;
		animation: pulse 2s infinite;
	}

	@keyframes pulse {
		from {
			transform: scale(1);
			opacity: 0.7;
		}

		to {
			transform: scale(1.4);
			opacity: 0;
		}
	}
}

@media (max-width: 576px) {
	.wrapper {
		top: 30%;
	}
	.container {
		.left {
			width: 100%;
			.subtitle--h5 {
				font-size: 16px;
				letter-spacing: 2.7px;
			}
			.title {
				font-size: 80px;
			}
			.text {
				font-size: 15px;
			}
		}
		.right {
			margin-top: 70px;
		}
	}
	.shadow {
		min-height: 800px;
	}
	.background-img {
		min-height: 800px;
	}
}
