.nav {
	position: absolute;
	top: 40px;
	height: 100px;
	width: 100%;
	padding-left: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;

	.logoContainer {
		position: relative;
		width: 100px;
		height: 100px;
		cursor: pointer;
	}

	.logo {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-color: var(--text-color);

		img {
			width: 100%;
			height: 100%;
			left: 50%;
			top: 50%;
		}
	}
}
.line {
	display: flex;
	top: 50%;
	left: 50%;
	width: 35%;
	margin-right: -50px;
	z-index: 100;
	height: 1px;
	opacity: 0.5;
	background-color: var(--dark-text-color);
	&--maxwidth {
		width: 100%;
		margin-top: 3rem;
		margin-bottom: 2rem;
		margin-right: 0;
	}
}
.nav-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	height: 100%;
	width: 60%;
	align-items: center;
	padding: 0 5%;
	backdrop-filter: blur(30px);
	justify-content: space-evenly;
	&--start {
		justify-content: flex-start !important;
		.nav-item {
			// padding: 0 20px;
			margin: 0 20px;
			width: 60px;
		}
	}
	.nav-item {
		// margin: 0 auto;
		text-align: center;
		height: 100%;
		// padding: 20px 20px;
		justify-content: center;
		align-items: center;
		display: flex;
		cursor: pointer;
		position: relative;
		text-decoration: none;
		flex-wrap: wrap;

		&::before {
			content: '';
			position: absolute;
			width: 0;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			border-bottom: 3px solid var(--dark-text-color);
			opacity: 0.5;
			transition: width 0.5s ease;
		}

		&::before {
			right: 100%;
		}

		&:hover::before {
			width: 100%;
		}

		&--active::before {
			width: 100%;
			border-bottom: 3px solid var(--text-color);
			opacity: 1;
		}

		.nav-link {
			text-decoration: none;
			text-transform: uppercase;
			color: var(--text-color);
			font-family: 'Barlow Condensed', sans-serif;
			font-weight: 400;
			font-style: normal;
			font-size: 16px;
			letter-spacing: 2.7px;

			span {
				font-weight: bold;
			}
		}
	}
}

.hamburger {
	padding: 15px 15px;
	position: relative;
	right: 10px;
	display: none;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}
.hamburger:hover {
	opacity: 0.7;
}
.hamburger.is-active:hover {
	opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: var(--text-color);
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 40px;
	height: 4px;
	background-color: var(--text-color);
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
	content: '';
	display: block;
}
.hamburger-inner::before {
	top: -10px;
}
.hamburger-inner::after {
	bottom: -10px;
}

.hamburger--arrow.is-active .hamburger-inner::before {
	transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
	transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

@media (max-width: 992px) {
	.nav-link span {
		display: none;
	}
}

@media (max-width: 768px) {
	.nav {
		top: 0;
		padding-left: 0;

		.logoContainer {
			left: 10px;
		}
		.logo {
			width: 50px;
			height: 50px;
		}
		.line {
			display: none;
		}
		.nav-list {
			display: flex;
			width: 65%;
			padding: 0 20px;
			backdrop-filter: none;
			background-color: rgba(11, 13, 23, 0.7);
			.nav-item {
				margin: 0;
				min-width: 80px;
				padding: 15px 15px;
				&:hover::before {
					width: 60%;
				}

				&--active::before {
					width: 60%;
				}

				.nav-link {
					span {
						display: none;
					}
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.nav {
		top: 10px;

		.nav-list {
			position: fixed;
			left: 100%;
			opacity: 0;
			top: 0;
			height: 100vh;
			flex-direction: column;
			justify-content: center;
			padding-left: 10%;
			flex-wrap: wrap;
			background-color: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(12px);
			padding-right: 3px;
			transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;

			.nav-item {
				justify-content: start;
				width: 100%;
				height: 2rem;
				padding: 2rem;

				&::before {
					position: absolute;
					top: 0;
					left: 100%;
					width: 0;
					height: 100%;
					transform: scaleY(0);
					background-color: var(--dark-text-color);
					border-bottom: none;
					content: '';
					transition: transform 0.3s ease-in-out;
				}

				&:hover::before {
					width: 3px;
					transform: scaleY(0.6);
				}

				&::after {
					display: none;
				}

				&--active::before {
					background-color: var(--text-color);
					width: 3px;
					transform: scaleY(0.6);
				}

				.nav-link {
					width: auto;
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					span {
						display: inline-flex;
						margin-right: 0.5rem;
					}
				}
			}

			&--active {
				left: 35%;
				opacity: 1; /* Changed from display: flex; */
				transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;
			}
		}

		.hamburger {
			display: block;
		}
	}
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
