@use 'nav';
@use 'landingPage';
:root {
	--primary-color: #0b0d17;
	--text-color: #ffffff;
	--dark-text-color: #d0d6f9;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--primary-color);
	color: var(--text-color);
}

.dark {
	color: var(--dark-text-color) !important;
}

.section {
	position: absolute;
	left: -120%;
	top: 0;
	height: 100%;
	width: 100%;
	transition: left 0.5s ease;

	&--active {
		left: 0;
		// display: contents;
	}
}

.title {
	font-family: 'Bellefair', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 150px;
	color: var(--text-color);
	margin: 20px 0;
}

.subtitle {
	font-family: 'Bellefair', serif;
	font-weight: 400;
	font-style: normal;
	color: var(--text-color);
	&--h2 {
		font-size: 100px;
	}
	&--h3 {
		font-size: 56px;
	}
	&--h4 {
		font-size: 32px;
	}
	&--h5 {
		font-family: 'Barlow Condensed', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 28px;
		letter-spacing: 4.75px;
		font-weight: normal !important;

		span {
			margin-right: 1rem;
			font-weight: bold;
			opacity: 0.25;
		}
	}
}

.mainSubheading {
	font-family: 'Bellefair', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 28px;
}

.subheading {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-style: normal;
	&--small {
		font-size: 14px;
		letter-spacing: 2.35px;
	}
}

.text {
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 32px;
	color: var(--dark-text-color);
}
