@use 'nav';

:root {
	--primary-color: #0b0d17;
	--text-color: #ffffff;
	--dark-text-color: #d0d6f9;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--primary-color);
	color: var(--text-color);
}

.title {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 150px;
	color: var(--text-color);
}

.subtitle {
	font-family: 'Bellefair', serif;
	font-weight: 400;
	font-style: normal;
	color: var(--text-color);
	h2 {
		font-size: 100px;
	}
	h3 {
		font-size: 56px;
	}
	h4 {
		font-size: 32px;
	}
	h5 {
		font-size: 28px;
		letter-spacing: 4.75px;
		font-weight: normal !important;
		color: var(--dark-text-color) !important;
	}
}

.mainSubheading {
	font-family: 'Bellefair', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 28px;
}

.subheading {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-style: normal;
	&--small {
		font-size: 14px;
		letter-spacing: 2.35px;
	}
}
