/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
	--color-primary-dark: #0f162d;
	--color-primary-pink: #ca59ff;
	--color-primary-violet: #6c7cff;
	--color-primary-aqua: #2affff;
	--color-primary-yellow: #fff629;

	--color-secondary-light: #ffffff;
	--color-secondary-dark: #272d42;
	--color-secondary-black: #000000;
}
